*{
  margin: 0;
  padding: 0;
text-decoration: none;
list-style: none;
}

body{
font-family: 'Montserrat' sans-serif;
}

header{
  background: url(./img/s1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}

.navbar-brand{
  width: 207px !important;
  height: 52px;
}
.navbar-expand-lg .navbar-nav .nav-link{
  color: white;
} 

.btn{
  background: transparent;
  color: white;
}

.dropdown-menu{
  background: url(./img/Mask\ Group.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.dropdown-item{
  color: aliceblue !important;
}

.section1{
  background: url(./img/s1.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 200px;
  background-attachment: fixed;
  color: white;
}

.were{
  font-weight: 400;
font-size: 17px;
}

.btlln{
  background: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 6px;
  padding: 5px 25px;
  font-weight: 500;
font-size: 16px;
}
.btllns{
  margin-left: 20px;
  background: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 6px;
  padding: 5px 25px;
  font-weight: 500;
font-size: 16px;
}

.btlln:hover{
  background: #06B25F ;
  color: rgb(250, 245, 245);
}

.btllns:hover{
  background: #06B25F ;
  color: rgb(250, 245, 245);
}

.tech{
  font-weight: 700;
font-size: 36px;
padding-top: 100px;
padding-bottom: 60px;
}
.stan{
  font-weight: 500;
font-size: 24px;
padding-bottom: 30px;
width: 815px;
  margin: auto;
}

.our{
  font-weight: 400;
font-size: 24px;
padding-top: 30px;
padding-bottom: 120px;
}

.btn-android1{
  border: none;
  border-radius: 16px;
  padding: 15px;
margin-left: 40px;
margin-right: 40px;
background: #06B25F;
}

.btn-android2{
  border: none;
  border-radius: 16px;
  padding: 15px;
margin-left: 40px;
margin-right: 40px;
background: #276ED8;
}

.btn-android3{
  border: none;
  border-radius: 16px;
  padding: 15px;
margin-left: 40px;
margin-right: 40px;
background: #84B5FF;
}

.service{
  text-align: center;
  padding-bottom: 23px;
}
.game{
padding-top: 100px;
font-weight: 700;
font-size: 24px;
color: #0D6EB7;
}
.lorem{
font-weight: 400;
font-size: 16px;
}
.position{
  position: relative; 
  padding-top: 220px;
}

.vector5{
  margin-top: -500px;
  width: 1300px;
}
.vector6{
  width: 1300px;
}

.looking{
  font-weight: 600;
font-size: 44px;
}

.komplekt{
  text-align: center;
  position: relative; 
margin-bottom: -330px;
color: white;
}
.we{
  padding-top: 16px;
  padding-bottom: 16px;
}
.talk{
border: none;
padding: 3px 20px;
color: #06B25F;
}

.achievement{
  color: #194484;
  font-weight: 600;
font-size: 36px;
text-align: center;
padding-top: 80px;
}

.karta3{
  width: 322px;
  height: 400px;
}

.Partners{
  color: #194484;
  font-weight: 600;
font-size: 36px;
text-align: center;
padding-top: 150px;
padding-bottom: 80px;
}
.section6{
  background: aliceblue;
  padding-bottom: 200px;
}

.btn-icon{
  width: 300px;
  height: 150px;
  border-radius: 16px;
  background: white;
  margin-bottom: 35px;
  border: none;
  box-shadow: 0px 3px 16px 4px rgba(29, 51, 107, 0.1);
}

.CONTACTS{
color: #194484;
font-weight: 600;
font-size: 36px;
text-align: center; 
padding-top: 20px;
}

.weare{
font-weight: 700;
font-size: 24px;
color: #242424;
text-align: center; 
padding-top: 60px;
padding-bottom: 20px;
}

.hit{
font-weight: 400;
font-size: 16px;
text-align: center; 
}

.section7{
  padding-bottom: 150px;
}
.contact-col{
  position: relative;
  padding-top: 100px;
}


.contact{
  margin-left: 10px;
  margin-bottom: -49px;
}

.info{
  padding-left: 60px;
  font-weight: 400;
font-size: 20px;
}

.contact-col-2{
  position: relative;
  padding-top: 100px;

}

.xabar{
  margin-top: -160px;
}

.maktub{
  margin-bottom: -582px;
  margin-left: -185px;
}

.tel{
  margin-top: -53px;
  margin-left: 400px;
  margin-bottom: 39px;
}

.form{
border-radius: 6px;
background-color: #FFFFFF;

width: 480px;
height: 470px;
box-shadow: 0px 3px 16px 2px rgba(29, 51, 107, 0.15);
text-align: center;
margin: auto;
padding: 50px;
margin-top: -206px;
margin-left: 60px;
}

.name{
padding: 10px 150px 11px 16px;   
background: #FFFFFF;
border: 1px solid #D7D7D7;
border-radius: 6px;
color: #A9A9A9;

}

.message{
padding: 10px 150px 51px 16px;   
background: #FFFFFF;
border: 1px solid #D7D7D7;
border-radius: 6px;
color: #A9A9A9;

}

.send{
padding: 14px 123px;
background: #2DA531;
border-radius: 6px;
border: none;
font-size: 18px;
color: #FFFFFF;
}

footer{
  background-color: #194484;
padding-top: 50px;
padding-bottom: 40px;
}

.social{
position: relative;

}

.logo{
  margin-top: -15px;
}
.soc1{
  margin-left: -200px;
  margin-bottom: -120px;
}
.soc2{
  margin-bottom: -122px;
  margin-right: 54px;
  padding-left: 27px;
}
.soc3{
  margin-bottom: -116px;
  margin-left: -18px;
}
.soc4{
  margin-left: -200px;
  margin-bottom: -280px;
}
.soc5{
  margin-bottom: -277px;
  margin-left: 30px;
}

.footli a:hover{
  color: #971c1c;
  background-color: #318ad8;
}



.footul .footli a{
text-decoration: none;
color: rgb(215, 210, 210);
font-weight: 400;
font-size: 13px;
line-height: 30px;
}

h4{
  color: #FFFFFF;
  margin-left: 10px;
}

/* ------------------------------------------------------------------------ */

@media (max-width: 1199px) {

}

@media (max-width: 991px) {
  
}

@media (max-width: 767px) {
  
}

@media (max-width: 575px) {

  .navbar-brand {
      width: 133px !important;
      height: 37px;
  }
  
  .section1 {
      background: url(./img/s1.png);
      background-size: contain;
      background-repeat: no-repeat;
      padding: 20px;
      background-attachment: fixed;
      color: white;
      text-align: center;
  }
  .btllns {
      margin-left: 20px;
      background: transparent;
      color: #080000;
      border: 2px solid #120202;
      border-radius: 6px;
      padding: 5px 25px;
      font-weight: 500;
      font-size: 11px;
  }

  .btlln {
      background: transparent;
      color: #080101;
      border: 2px solid #020101;
      border-radius: 6px;
      padding: 5px 25px;
      font-weight: 500;
      font-size: 11px;
  }

  .focus{
      padding-bottom: 50px;
      font-size: 21px;
  }
  .were {
      font-weight: 400;
      font-size: 15px;
      padding-top: 120px;
      color: black;
  }

  .tech {
      font-weight: 700;
      font-size: 36px;
      padding-top: 44px;
      padding-bottom: 29px;
      margin: auto;
  }

  .stan {
      font-weight: 500;
      font-size: 15px;
      padding-bottom: 24px;
      width: 240px;
      margin: auto;
  }

  .btn-android1 {
      border: none;
      border-radius: 16px;
      padding: 15px;
      margin-left: 13px;
      margin-right: 13px;
      background: #06B25F;
  }

  .btn-android2 {
      border: none;
      border-radius: 16px;
      padding: 15px;
      margin-left: 13px;
      margin-right: 13px;
      background: #276ED8;
  }

  .btn-android3 {
      border: none;
      border-radius: 16px;
      padding: 15px;
      margin-left: 13px;
      margin-right: 13px;
      background: #276ED8;
  }

  .our {
      font-weight: 400;
      font-size: 19px;
      padding-top: 16px;
      padding-bottom: 28px;
  }

  .game {
      padding-top: 17px;
      font-weight: 700;
      font-size: 20px;
      color: #0D6EB7;
      text-align: center;
  }

  .lorem {
      font-weight: 400;
      font-size: 15px;
      text-align: center;
  }

  .service {
      text-align: center;
      padding-bottom: 23px;
      font-size: 32px;
  }

  .Illustration{
      width: 294px;
  }

  .col-12 {
      flex: 0 0 auto;
      width: 94%;
  }
  .position {
      position: relative;
      padding-top: 100px;
  }

  .vector5 {
      margin-top: -500px;
      width: 320px;
      height: 380px;
  }
  .vector6 {
      width: 320px;
      height: 429px;
  }
  .komplekt {
      text-align: center;
      position: relative;
      margin-bottom: -256px;
      color: white;
  }

  .looking {
      font-weight: 600;
      font-size: 20px;
      text-align: center;
  }
  .we {
      padding-top: 16px;
      padding-bottom: 16px;
      text-align: center;
  }

  .Partners {
      color: #194484;
      font-weight: 600;
      font-size: 36px;
      text-align: center;
      padding-top: 39px;
      padding-bottom: 29px;
  }

  .btn-icon {
      width: 146px;
      height: 73px;
      border-radius: 16px;
      background: white;
      margin-bottom: 35px;
      border: none;
      box-shadow: 0px 3px 16px 4px rgb(29 51 107 / 10%);
  }

  .icon1{
      width: 65px;
  }
  .icon2{
  width: 33px;
  }

  .section6 {
      background: aliceblue;
      padding-bottom: 65px;
  }

  .CONTACTS {
      color: #194484;
      font-weight: 600;
      font-size: 36px;
      text-align: center;
      padding-top: 29px;
  }

  .weare {
      font-weight: 650;
      font-size: 18px;
      color: #242424;
      text-align: center;
      padding-top: 13px;
      padding-bottom: 17px;
  }

  .hit {
      font-weight: 350;
      font-size: 19px;
      text-align: center;
  }

  .contact-col {
      position: relative;
      padding-top: 0px;
  }

  .contact {
      margin-left: 25px;
      margin-bottom: -60px;
  }

  .info {
      padding-left: 60px;
      font-weight: 400;
      font-size: 20px;
      margin-bottom: -12px;
  }

  .contact-col-2 {
      position: relative;
      padding-top: 50px;
  }

  .xabar {
      display: none;
  }

  .form {
      border-radius: 6px;
      background-color: #FFFFFF;
      width: 309px;
      height: 330px;
      box-shadow: 0px 3px 16px 2px rgb(29 51 107 / 15%);
      text-align: center;
      margin: auto;
      padding: 23px;
      margin-top: -230px;
      margin-left: 9px;
  }

  .name {
      padding: 7px 40px 7px 10px;
      background: #FFFFFF;
      border: 1px solid #D7D7D7;
      border-radius: 6px;
      color: #A9A9A9;
  }

  .message {
      padding: 7px 40px 30px 10px;
      background: #FFFFFF;
      border: 1px solid #D7D7D7;
      border-radius: 6px;
      color: #A9A9A9;
  }

  .send {
      padding: 8px 75px;
      background: #2DA531;
      border-radius: 6px;
      border: none;
      font-size: 12px;
      color: #FFFFFF;
      /* margin-top: -5px; */
  }

  footer {
      background-color: #194484;
      padding-top: 35px;
      padding-bottom: 1px;
  }

  .logo {
      margin-top: -15px;
      margin-left: 56px;
  }

  .soc1 {
      margin-left: -244px;
      margin-bottom: -120px;
      width: 30px;
      margin-right: 20px;
  }
  .soc2 {
      margin-bottom: -122px;
      margin-right: 62px;
      padding-left: 4px;
      width: 35px;
  }
  .soc3 {
      margin-bottom: -121px;
      margin-left: -42px;
      width: 33px;
      margin-right: 15px;
  }
  .soc4 {
      margin-left: 7px;
      margin-bottom: -123px;
      width: 31px;
  }
  .soc5 {
      margin-bottom: -124px;
      margin-left: 22px;
      width: 36px;
  }

  .serv1 {
      color: #FFFFFF;
      margin-left: 10px;
      padding-top: 85px;
  }

  .serv{
      padding-top: 0;
  }
}




.rating-area {
overflow: hidden;
width: 265px;
margin: 0 auto;
}
.rating-area:not(:checked) > input {
display: none;
}
.rating-area:not(:checked) > label {
float: right;
width: 42px;
padding: 0;
cursor: pointer;
font-size: 32px;
line-height: 32px;
color: lightgrey;
text-shadow: 1px 1px #bbb;
}
.rating-area:not(:checked) > label:before {
content: '★';
}
.rating-area > input:checked ~ label {
color: gold;
text-shadow: 1px 1px #c60;
}
.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
color: gold;
}
.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
color: gold;
text-shadow: 1px 1px goldenrod;
}
.rate-area > label:active {
position: relative;
}