*{
    margin: none;
    padding: none;
    text-decoration: none;
    list-style: none;
}

section{
    background: #E5E5E5;
}
.btn1{
    margin-top: 20px;
    border: 2px solid #06B25F;
    border-radius: 6px;
    color: #06B25F;
}
.list{
    padding-top: 20px;
    display: flex;

}
nav{
    padding-top: 0px;
    align-items: center;
}
.item{
    padding-left: 15px;
    color:  #0D6EB7;
}
.item1{
    padding-left: 15px;
    color: #00A4E8;
}
.bigger{
    padding-top: 40px;
    color: #194484;
    text-decoration: none;
}
.home{
    padding-left: 100px;
    color: #194484;
    text-decoration: none;
}
.home1{
    padding-left: 10px;
    color: #194484;
    text-decoration: none;
}
.wort{
padding-left: 90px;
 padding-top: 120px;
 text-transform: uppercase;
 font-weight: 700;
    font-size: 44px; 
color: #194484;
    
    
}